

.settings__btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  position: relative;
  overflow: hidden;    
  width: 34px;
  height: 34px;

    @include breakpoint(portrait) {
      width: auto;
      height: auto;
    }

  ._icon {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: $light-silver;
    background-size: 100%;
    border-right: 1px solid;
  }
  ._text {

    display: none;

    @include breakpoint(portrait) {
      display: inline-block;
      padding: 4px 8px;
      margin-left: 34px;
    }
  }
}