

<div class="settings">

  <!-- TODO: react functionality here -->
  
  <a href="#" class="settings__btn">
    <span class="_icon" style="background-image: url(<%= current_user.gravatar_url %>)"></span>
    <span class="_text"><%= current_user.email %></span>
  </a>

  <div class="settings__overlay">
    <div id="current_user" style="display: none;">
      Signed in as <%= current_user.email %>. <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
  </div>

</div>