

.editor {
  display: flex;
  min-height: 100%; 
}

.editor__tree {
  width: 40%;
  max-width: 400px;
  margin-right: 10px;
  font-size: 18px;
  
  color: white;
  background-color: #DD4538;

  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.editor__content {
  width: 60%;
  margin-left: 10px;
  @include breakpoint(portrait) {
    margin-right: 20px;
  }
}


