

.editor {
  display: flex;
}

.editor__tree {
  width: 40%;
  margin-right: 10px;
  font-size: 24px;
  line-height: 1.7;
  
  color: white;
  background-color: #DD4538;

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  ul {
    margin-left: 20px;
    li {
      padding-bottom: 30px;
    }
    ul {
      li {
        padding-bottom: 0;
      }
      font-size: 18px;
      .pages__create-btn {
        font-size: 13px;
        line-height: 1.2;
        padding: 2px 4px;
      }
    }
  }
}

.editor__content {
  width: 60%;
  margin-left: 10px;
  @include breakpoint(portrait) {
    margin-right: 20px;
  }
}


