

.tree {

}



// -- interface ----------------------------------------

.tree__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: darken(#DD4538, 8%);
}

.tree__btn {

}



.tree__list {
  padding: 40px 20px;
}

// -- top level ----------------------------------------

.tree__pages {

}

.tree__page {

}

// -- second level -------------------------------------

.tree__sections {

}

.tree__section {

}