

.tree {

}



// -- interface ----------------------------------------

.tree__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: darken(#DD4538, 10%);

  ._icon {
    margin-top: 4px;
  }

  ._text {
    margin-top: 2px;
  }
}

.tree__btn {
  display: inline-block;
  padding: 2px 8px;
  padding-right: 12px;
  padding-bottom: 4px;
  background-color: darken(#DD4538, 10%);
  border-radius: 20px;
  font-size: 16px;

  &:hover {
    background-color: darken(#DD4538, 15%);
  }
}

.tree__footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: darken(#DD4538, 10%);
}



.tree__list {
  padding: 40px 25px;
}

// -- top level ----------------------------------------

.tree__pagelist {
}

.tree__page {
  &:last-child {
    list-style: none;
    margin-left: -28px;
    margin-top: 8px;
  }
}

// -- second level -------------------------------------

.tree__sectionlist {
  font-size: 16px;
  border-left: 1px solid rgba(255,255,255, 0.6);
  padding-left: 35px;
  margin-left: -16px;
}

.tree__section {

  &:last-child {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 10px;
    list-style: none;
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 25px;
      width: 20px;
      
      position: absolute;
      left: -26px;
      top: 1px;

      border-left: 1px solid rgba(255,255,255, 0.6);
      border-bottom: 1px solid rgba(255,255,255, 0.6);
      z-index: 2000;
    }
  }
}

