<ul>
  <% sections.each do |section| %>
    <li>
      <%= link_to section.title, edit_admin_brand_guide_page_section_path(@brand_guide, page, section) %>
      <%= render 'sections', page: page, sections: section.children %>
    </li>
  <% end %>
</ul>