<div class="sidebar">
  <nav class="sections">
    <% @page.children.each do |section| %>
      <a href="#section-<%= section.slug %>"><%= section.title %></a>
    <% end %>
  </nav>
</div>

<div class="content">
  <div class="page">
    <%= render @page %>
  </div>

  <div class="sections">
    <%= render @page.children %>
  </div>
</div>