

.pages {
  padding-top: 30px; 

  @include breakpoint(portrait) {
    padding-top: 60px;
  }
}

// ----------------------------------------------------------

.page__back-btn {
  display: block;
  margin-bottom: 50px;
}


.pages__create-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #53E2C0;
  color: darken(#328974, 10%);
  border-radius: 2px;

  &:hover {
    color: darken(#328974, 20%);
  }
}


// ----------------------------------------------------------

.page__footer {
  padding-top: 50px;
}