.AssetGroupsList, .ColoursList {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -12px;
    margin-top: 12px;
  }
  .AssetGroup, .Colour {
    border: 1px solid lighten(black, 85%);
    border-radius: 16px;
    overflow: hidden;
    margin: 12px;
    position: relative;
    width: 320px;

    header, footer {
      height: 44px;
      display: flex;
      overflow: hidden;
    }
    footer {
      border-top: 1px solid lighten(black, 85%);
      div.text {
        margin: auto;
        color: lighten(black, 50%);
        font-size: 85%;
        .Icon {
          font-size: 75%;
        }
      }
    }
    header {
      border-bottom: 1px solid lighten(black, 85%);
      div.title {
        flex: 1;
        padding: 13px 0 11px;
        input {
          border: none;
          width: 100%;
          outline: none;
        }
      }
      div.symbol {
        width: 44px;
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center center;
        background-image: url(asset_path('thumbnail_default.svg'));
      }
      div.buttons {
        display: flex;
        .Button {
          border-left: 1px solid lighten(black, 85%);
          .Icon {
            width: 42px;
            padding: 14px 10px 10px 14px;
            display: block;
          }
        }
      }
    }
  }
}

.ColoursList {
  .Colour {
    div.symbol {
      background-image: url(asset_path('thumbnail_colour.svg'))!important;
    }
    .swatch {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      input {
        width: 100%;
        margin: auto;
        background: none;
        border: none;
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        color: white;
        outline: none;
      }
    }
    .main {
      position: relative;
      height: 320px;
    }
  }
}

.AssetGroupsList {
  .AssetGroup {
    &[data-drag-state="over"] .dropHint,
    &[data-drag-state="enter"] .dropHint {
      display: flex;
    }
    .dropHint {
      display: none;
      position: absolute;
      pointer-events: none;
      top: -1px; left: -1px;
      bottom: -1px; right: -1px;
      border: 6px dotted lighten(black, 85%);
      border-radius: 16px;
      background: transparentize(white, 0.15);
      z-index: 5;
      > div {
        margin: auto;
        text-align: center;
      }
      span {
        display: block;
        margin-top: 8px;
      }
      .Icon {
        font-size: 72px;
      }
    }

    .assetsListContainer {
      width: 320px;
      height: 320px;
      display: flex;
      flex-direction: column;
      font-size: 85%;

      .meta {
        display: flex;
        margin: 12px 8px 8px;

        .left {
          display: flex;
          flex: 1;
          .size, .delete {
            color: lighten(black, 75%);
            margin-left: 8px;
          }
          .delete:hover {
            color: black;
          }
        }
      }
    }

    ul.assetsList {
      flex: 1;
      margin: 0 8px;
      border-top: 1px solid lighten(black, 85%);
      overflow-y: scroll;

      li.asset .image {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      
      &[data-display-mode="list"] {
        li.asset {
          padding: 8px 0;
          border-bottom: 1px solid lighten(black, 85%);
          display: flex;

          .image {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            display: flex;
            .selectImage {
              margin: auto;
            }
          }

          &[data-selected="false"] {
            &:not(:hover) .selectImage {
              visibility: hidden;
            }
          }

          .filename {
            flex: 1;
            display: flex;
            margin: auto;
            .name {
              flex: 1;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-right: 12px;
            }
            .size {
              color: lighten(black, 75%);
            }
          }
          &:last-child {
            margin-bottom: 8px;
          }
        }
      }

      &[data-display-mode="grid"] {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px 0;

        li.asset {
          padding: 12px;
          margin: auto;
          .image {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 3px;
            border: 1px solid lighten(black, 85%);
            background-size: 75%;
            .selectImage {
              position: absolute;
              top: 8px; left: 8px;
            }
          }
          .filename {
            display: none;
          }
        }
      }
    }
  }
}