$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

.pop-enter {
  opacity: 0.01;
  transform: scale(0.75);
  transition: all 0.5s $easeOutExpo;
}
.pop-enter.pop-enter-active {
  transform: scale(1);
  opacity: 1;
}

.pop-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s $easeOutExpo;
}
.pop-leave.pop-leave-active {
  transform: scale(0);
  opacity: 0.01;
}