/*
*= require_self
*= require ss-standard
*= require_tree ./components
*/

// @import "sass/application";

@import "sass/_global/fonts";

@-webkit-keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

body {
  font-family: "Whitney", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid lighten(black, 85%);
  padding: 12px;
  padding-bottom: 10px;
  overflow: hidden;
}

.Application, .AdminPage, .Location {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

.Header {
  .content {
    display: flex;
  }
  h1 {
    flex: 1;
    font-size: 24px;
    margin: auto 0;
  }
  div.user {
    &:not(:hover) {
      .Button, .separator {
        display: none;
      }
    }
  }
  div.user, a.profile {
    display: flex;
  }
  a, span {
    margin: auto;
  }
  a.profile {
    i.avatar {
      display: block;
      width: 36px;
      height: 36px;
      border: 1px solid lighten(black, 85%);
      background-color: white;
      background-size: cover;
      border-radius: 50%;
    }
  }
  a.profile, i.avatar, span.separator {
    margin-left: 8px;
  }
  span.separator {
    color: lighten(black, 85%);
  }
  .Button {
    color: lighten(black, 50%);
    &:hover {
      color: black;
    }
  }
}

.AdminPage {
  &[data-nav-state="before"] {
    background: blue;
  }
  &[data-nav-state="nav"] {
    background: red;
  }
}

.Drawer, .SectionEditor, .Header {
  .content {
    padding: 24px;
  }
}

.Location {
  flex: 1;
  display: flex;
}

.Button {
  user-select: none;
  .Icon {
    font-size: 80%;
  }
  &.plain {
    .Icon {
      position: relative;
      top: 1px;
    }
    .text {
      margin-left: 4px;
    }
  }
  &:not(.plain) {
    border-radius: 3px;
    background: transparentize(black, 0.85);
    color: transparentize(black, 0.25);
    display: inline-block;
    padding: 0 2px;
    margin-right: 8px;
    overflow: hidden;

    .Icon, .text {
      display: block;
      float: left;
      padding: 6px 8px 6px;
    }
    .Icon {
      position: relative;
      padding-top: 8px;
      padding-bottom: 4px;
      border-right: 1px solid transparentize(black, 0.85);
    }

    &:hover {
      color: white;
      background: transparentize(black, 0.5);
    }
  }

  &.green {
    background: transparentize(seaGreen, 0.5);
    &:hover {
      background: transparentize(seaGreen, 0);
    }
  }
}

.Drawer {
  $drawerBackgroundColor: #dd4538;
  $drawerForegroundColor: white;
  $drawerWidth: 360px;

  display: flex;
  
  header {
    position: relative;
    background: darken($drawerBackgroundColor, 10%);
    padding: 24px;
    padding-bottom: 18px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    .Button {
      font-size: 120%;
      position: absolute;
      top: 24px;
      color: darken($drawerBackgroundColor, 20%);
    }
    .Button:hover {
      color: darken($drawerBackgroundColor, 35%);
    }
    .back {
      left: 24px;
    }
    .settings {
      right: 24px;
    }
  }

  h3 {
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .contents {
    width: $drawerWidth;
    transition: margin-left 0.5s $easeOutExpo;
    background: $drawerBackgroundColor;
    color: $drawerForegroundColor;
    border-radius: 0 4px 0 0;
    overflow: hidden;
  }
  &[data-open="false"] .contents {
    margin-left: -$drawerWidth+24px;
  }
  &[data-open="false"] .contents {
    cursor: pointer;
  }

  .toggle {
    flex: 1;
    display: flex;
    width: 0;
    position: relative;
    z-index: 0;
    left: -12px;
    a {
      margin: auto;
      background: $drawerBackgroundColor;
      padding: 8px 0 8px 3px;
      width: 24px;
      border-radius: 0 4px 4px 0;
      position: absolute;
      top: 62px;

      i {
        display: block;
        width: 8px; height: 8px;
        margin: 4px;
        background-color: darken($drawerBackgroundColor, 10%);
        border-radius: 100%;
      }
      &:hover i {
        background-color: darken($drawerBackgroundColor, 25%);
      }
    }
  }

  .DrawerSectionsList {
    border-top: 1px solid darken($drawerBackgroundColor, 10%);
    margin-bottom: 12px;
    .DrawerSectionsListItem {
      a {
        display: flex;
        padding: 8px 12px;
        padding-left: 0;
        border-bottom: 1px solid darken($drawerBackgroundColor, 10%);
        span {
          flex: 1;
        }
        .Icon {
          font-size: 65%;
          line-height: 0;
          margin: auto 0;
          position: relative;
          top: 1px;
          color: darken($drawerBackgroundColor, 10%);
        }
      }
      ul {
        display: none;
        margin-bottom: 12px;
        a {
          padding-left: 18px;
          color: darken($drawerBackgroundColor, 25%);
        }
      }
      
      &[data-selected="true"] {
        a {
          .Icon {
            color: white;
          }
        }
      }
    }
  }
}

.SectionEditor {
  flex: 1;
  display: flex;
  position: relative;

  .content {
    padding-top: 0;
    flex: 1;
    display: flex;
    > div {
      width: 100%;
    }
  }

  .mtime {
    position: absolute;
    top: 6px; right: 36px;
    color: lighten(black, 75%);
    font-size: 75%;
    .Icon {
      font-size: 75%;
    }
  }

  .titleInput {
    font-size: 24px;
    border-radius: 3px 3px 0 0;
    padding: 19px 12px 14px;
    border-bottom: none;
  }
  .contentInput {
    border-radius: 0 0 3px 3px;
  }

  .ButtonGroup {
    margin-top: 24px;
    display: flex;
    .spacer {
      flex: 1;
    }
    .Button:last-child {
      margin-right: 0;
    }
  }

  .noSectionsMessage {
    display: flex;
    flex: 1;
    div {
      margin: auto;
      text-align: center;
      .book {
        display: flex;
        width: 180px; height: 180px;
        border: 8px dotted lighten(black, 90%);
        border-radius: 100%;
        margin-bottom: 24px;
      }
      .Icon {
        display: block;
        position: relative;
        top: 14px;
        font-size: 86px;
        line-height: 86px;
        color: lighten(black, 80%);
        margin: auto;
      }
      p {
        font-size: 24px;
        line-height: 28px;
        color: lighten(black, 65%);
      }
    }
  }
}

.MarkdownContentInput {
  display: flex!important;
  flex-direction: row;
  padding: 0!important;
  textarea {
    padding: 12px;
    width: 75%;
    min-width: 25%;
    max-width: 75%;
    max-height: 320px;
    min-height: 320px;
    font-family: Monaco;
    font-size: 80%;
    border: none;
  }
  .preview {
    flex: 1;
    border-left: 1px solid lighten(black, 85%);
    padding: 12px;
    background: lighten(black, 98%);
    height: 320px;
    overflow-y: scroll;
    label {
      display: block;
      color: lighten(black, 75%);
      margin-bottom: 12px;
    }
  }
  .previewHtml {
    h1, h2, h3, h4, h5, p, img, li, ul {
      margin-bottom: 12px;
    }
    :last-child {
      margin-bottom: 0;
    }
    h1, h2, h3, h4, h5 {
      font-weight: bold;
    }
    h1 {
      font-size: 24px;
    }
    a {
      color: blue;
      text-decoration: underline;
    }
    img {
      min-width: 100%;
    }
    li {
      position: relative;
      padding-left: 12px;
    }
    li:before {
      position: absolute;
      left: 0;
      content: '•';
    }
  }
}

.AssetGroupsList {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -12px;
    margin-top: 12px;
    
    .AssetGroup {
      border: 1px solid lighten(black, 85%);
      border-radius: 16px;
      overflow: hidden;
      margin: 12px;
      position: relative;

      // &[data-drag-state="over"] .dropHint,
      // &[data-drag-state="enter"] .dropHint {
      //   display: flex;
      // }
      .dropHint {
        display: none;
        position: absolute;
        top: -1px; left: -1px;
        bottom: -1px; right: -1px;
        border: 6px dotted lighten(black, 85%);
        border-radius: 16px;
        background: transparentize(white, 0.15);
        z-index: 5;
        > div {
          margin: auto;
          text-align: center;
        }
        span {
          display: block;
          margin-top: 8px;
        }
        .Icon {
          font-size: 72px;
        }
      }

      .assetsListContainer {
        width: 320px;
        height: 320px;
        display: flex;
        flex-direction: column;
        font-size: 85%;

        .meta {
          display: flex;
          margin: 12px 8px 8px;

          .size {
            flex: 1;
            margin-left: 8px;
            color: lighten(black, 75%);
          }
        }
      }

      ul.assetsList {
        flex: 1;
        margin: 0 8px;
        border-top: 1px solid lighten(black, 85%);
        overflow-y: scroll;

        li.asset .image {
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        
        &[data-display-mode="list"] {
          li.asset {
            padding: 8px 0;
            border-bottom: 1px solid lighten(black, 85%);
            display: flex;

            .image {
              width: 24px;
              height: 24px;
              margin-right: 8px;
              display: flex;
              .selectImage {
                margin: auto;
              }
            }

            &[data-selected="false"] {
              &:not(:hover) .selectImage {
                visibility: hidden;
              }
            }

            .filename {
              flex: 1;
              display: flex;
              margin: auto;
              .name {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 12px;
              }
              .size {
                color: lighten(black, 75%);
              }
            }
            &:last-child {
              margin-bottom: 8px;
            }
          }
        }

        &[data-display-mode="grid"] {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          justify-content: center;
          padding: 16px 0;

          li.asset {
            padding: 12px;
            margin: auto;
            .image {
              position: relative;
              width: 120px;
              height: 120px;
              border-radius: 3px;
              border: 1px solid lighten(black, 85%);
              background-size: 75%;
              .selectImage {
                position: absolute;
                top: 8px; left: 8px;
              }
            }
            .filename {
              display: none;
            }
          }
        }
      }
      header, footer {
        height: 44px;
        display: flex;
        overflow: hidden;
      }
      footer {
        border-top: 1px solid lighten(black, 85%);
        div.text {
          margin: auto;
          color: lighten(black, 50%);
          font-size: 85%;
          .Icon {
            font-size: 75%;
          }
        }
      }
      header {
        border-bottom: 1px solid lighten(black, 85%);
        div.title {
          flex: 1;
          padding: 13px 0 11px;
          input {
            border: none;
            width: 100%;
            outline: none;
          }
        }
        div.symbol {
          width: 44px;
          margin-right: 8px;
          background: lighten(black, 95%);
        }
        div.buttons {
          display: flex;
          .Button {
            border-left: 1px solid lighten(black, 85%);
            .Icon {
              width: 42px;
              padding: 14px 10px 10px 14px;
              display: block;
            }
          }
        }
      }
    }
  }
}

.GuidesListPage {
  margin: auto;
  padding-bottom: 72px;
  .GuidesList {
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .GuidesListItem {
        header {
          margin-bottom: 12px;
          display: flex;

          h2 {
            flex: 1;
            font-size: 20px;
            font-weight: bold;
          }
        }
        .thumbnail {
          width: 320px;
          height: 320px;
          border-radius: 3px;
          background: lighten(black, 85%);
        }
        margin: 12px;
        cursor: pointer;
      }
    }
    .Button {
      margin-right: 0;
    }
  }
  footer {
    margin-top: 12px;
    text-align: center;
  }
}

.GuideEditPage {
  flex: 1;
  display: flex;
}

.LoginPage {
  margin: auto;
  padding: 24px;
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 12px;
  }
  .input {
    width: 320px;
    &.email {
      border-radius: 3px 3px 0 0;
    }
    &.password {
      border-top: none;
      border-radius: 0 0 3px 3px;
    }
  }
  .ButtonGroup {
    margin-top: 12px;
    text-align: center;
    .Button {
      margin-right: 0;
    }
  }
}

.Spinner {
  display: none;
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
  background: transparentize(white, 0.25);
  z-index: 100;
  pointer-events: none;

  &[data-show="true"] {
    display: flex;  
  }

  > div {
    margin: auto;
    text-align: center;  
  }
  .iconContainer {
    display: flex;
    width: 100px;
    height: 100px;
    animation: spinner 1s infinite linear;
    .Icon {
      position: relative;
      top: 4px;
      margin: auto;
      font-size: 200%;
    }
  }
  span {
    display: block;
  }
}