/*
*= require_self
*/

@import "sass/application";
@import "legacy";

// TODO: Not this
html {
  max-width: 100%!important;
  padding: 0!important;
}

.asset-group {
  width: 50%;
  float: left;
  margin-bottom: 30px;
  
  .asset-group__asset {
    width: 216px;
    height: 216px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
    border-radius: 50%;
    display: flex;

    i {
      font-style: normal;
      font-size: 48px;
      margin: auto;
      color: white;
      position: relative;
      top: 6px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
  label {
    display: inline;
  }
}