/*
*= require_self
*= require ss-standard
*/

@import "sass/application";

$button-radius: 3px;
$margin-space: 15px;

$asset-group-border: 1px solid darken($light-silver, 5%);

ul {
  padding: 0;
}

.Btn {
  border-radius: $button-radius;
  background: $light-silver;
  padding: 6px 9px 3px;
  display: inline-block;
  text-align: center;

  > * {
    display: inline-block;
  }

  i {
    font-size: 11px;
    margin-right: 6px;
  }

  &.disabled {
    pointer-events: none;
    background: none;
    color: darken($light-silver, 25%);
  }
}

.AssetList {
  display: none;
  border-top: $asset-group-border;

  &.opened {
    display: block;
  }

  .inner {
   padding: $margin-space;
  }

  ul {
    margin-bottom: $margin-space;
  }

  .buttons {
    text-align: center;
    .Btn {
      display: block;
    }
  }
}

.AssetListItem {
  display: flex;
  list-style: none;

  input[type="checkbox"] {
    position: relative;
    top: 3px;
  }
  label {
    flex: 1;
    margin-top: 0;
    padding-left: 6px;
    cursor: pointer;
  }
}

.AssetGroup {
  width: 360px;
  background: white;
  border-radius: 6px;
  border: $asset-group-border;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  margin-bottom: 30px;
}
.AssetGroupThumbnailContainer,
.AssetGroupThumbnail {
   width: 360px;
  height: 360px;
}
.AssetGroupThumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.AssetGroupThumbnailContainer {
  background: url(asset_path('checkerboard.png'));
}
.AssetGroupHeader {
  padding: $margin-space;
  padding-bottom: $margin-space/2;
  position: relative;
  border-bottom: $asset-group-border;
  overflow: hidden;

  .buttons {
    position: absolute;
    top: 0; right: 0;
    a {
      border-left: $asset-group-border;
      color: $light-silver;
      padding: 15px;
      display: inline-block;
      &:hover {
        color: darken($light-silver, 20%);
      }
      &.active {
        color: darken($light-silver, 50%);
      }
    }
  }
}

.EmailForm {
  .input {
    border: 1px solid $light-silver;
    border-color: $light-silver;
  }
  .input:focus, .input:active {
    outline: none;
    border: 1px solid $light-silver;
  }
  .input:first-child {
    border-radius: $button-radius $button-radius 0 0;
  }
  .input:last-child {
    border-radius: 0 0 $button-radius $button-radius;
  }
  .input:not(:last-child) {
    border-bottom: none;
  }

  margin-bottom: $margin-space;
}