/*
*= require_self
*= require ss-standard
*= require fixedsticky
*/

@import "sass/_global/fonts";

* {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: "Whitney", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

.content {
  p, h1, ul {
    margin-bottom: 24px;
  }
}

.inner {
  margin: 0 48px;
  position: relative;
}

header#banner {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 360px;
  position: relative;
  overflow: hidden;

  .inner {
    position: relative;
    z-index: 1;
  }

  .titles {
    padding-top: 216px;
  }
  h1 {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 72px;
    line-height: 72px;
    margin-left: -5px;
  }
  .mtime {
    position: absolute;
    top: 0; right: 0;
    margin-top: 24px;
  }
}

section#main {
  flex: 1;
  .inner {
    display: flex;
    position: relative;
    .sidebar, nav.sections {
      width: 256px;
    }
    .sidebar {
      margin-right: 48px;
    }
    nav.sections {
      position: sticky;
      top: 0;
      padding-top: 48px;
      a {
        display: block;
        border-bottom: 1px solid lighten(black, 85%);
        padding: 8px 0;
        &:first-child {
          border-top: 1px solid lighten(black, 85%);
        }
      }
    }
    .content {
      flex: 1;
      h1 {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        padding-bottom: 13px;
        border-bottom: 1px lighten(black, 85%);
      }
    }
    .contentHtml {
      li {
        position: relative;
        padding-left: 24px;
        &:before {
          display: block;
          position: absolute;
          left: 0;
          content: '—';
          color: lighten(black, 75%);
        }
      }
    }
  }
  .section {
    padding-top: 40px;
  }
}

.colours {
  display: flex;
  flex-wrap: wrap;
  margin: -24px;
  padding: 24px 0;
  .colour {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px;
    .circle {
      width: 186px;
      height: 186px;
      border-radius: 50%;
      margin: 0 auto 12px;
    }
  }
}

footer#footer {
  margin: 48px 0 24px;
  color: lighten(black, 85%);
  p {
    margin: 0;
  }
}

@import "components/Button";
@import "components/AssetGroupsList";

.AssetGroupsList, .ColoursList {
  .container {
    justify-content: flex-start!important;
  }
}