/*
*= require_self
*= require legacy
*/

.media__asset {
  width: 216px;
  height: 216px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
}
.media__asset i {
  font-style: normal;
  font-size: 48px;
  margin: auto;
  color: white;
  position: relative;
  top: 6px;
}