<div class="sidebar">
  <nav class="sections">
    <% @guide.sections.roots.each do |section| %>
      <a href="#section-<%= section.slug %>"><%= section.title %></a>
    <% end %>
  </nav>
</div>

<div class="content">
  <%= render @guide.sections.roots %>
</div>