<div class="sidebar">
  <nav class="sections">
    <% @guide.sections.roots.each do |section| %>
      <a href="#section-<%= section.slug %>"><%= section.title %></a>
    <% end %>
  </nav>
</div>

<div class="content">
  <% if @guide.content.present? %>
    <div class="section guide" id="section-guide">
      <h1><a href="#section-guide">Introduction</a></h1>
      <div class="contentHtml"><%= raw @guide.content_html %></div>
    </div>
  <% end %>

  <%= render @guide.sections.roots %>
</div>